.section-hero-date-stamp {
    background-image: url(../images/date-stamp/bg-hero-date-stamp.png);
    height: 336px;
}
.section-hero-date-stamp-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-hero-date-stamp-wrapper h1 {
    font-size: 70px;
    font-family: "ibm-plex-sans-thai-regular";
    color: #fff;
    line-height: 1;
}
.section-date-stamp-second {
    display: flex;
    align-items: flex-start;
    height: 686px;
    background-image: url(../images/date-stamp/bg-curve-date-stamp.png);
    background-size: auto 241px;
    background-position: bottom left;
    background-repeat: no-repeat;
}
.section-dete-stamp-second-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}
.section-dete-stamp-second-image-box {
    display: flex;
}
.section-dete-stamp-second-image {
    height: 456px;
}
.section-dete-stamp-second-image img {
    width: auto;
}
.section-dete-stamp-second-detail-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 594px;
    height: 456px;
}
.section-dete-stamp-second-detail-header {
    display: flex;
    margin-bottom: 44px;
}
.section-dete-stamp-second-detail-header h2 {
    position: relative;
    font-family: "ibm-plex-sans-thai-bold";
    font-size: 36px;
    color: #ED2024;
    line-height: 1;
}
.section-dete-stamp-second-detail-header h2:before {
    content: '';
    position: absolute;
    bottom: -24px;
    left: 0;
    width: 180px;
    height: 3px;
    background-color: #ED2024;
}
.section-dete-stamp-second-detail-text {
    display: flex;
    margin-bottom: 84px;
}
.section-dete-stamp-second-detail-text p {
    font-family: "ibm-plex-sans-thai-medium";
    font-size: 18px;
    color: #000;
    line-height: 1.5;

}
.section-dete-stamp-second-detail-text p span {
    font-family: "ibm-plex-sans-thai-bold";
}
.section-dete-stamp-second-detail-text p strong {
    font-family: "ibm-plex-sans-thai-bold";
}
.section-date-stamp-second-text-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 594px;
    height: 186px;
    background-color: #ED2024;
    border-radius: 156px 16px 16px 16px;
    gap: 60px;
    padding: 40px 0 0 130px;
}
.section-date-stamp-second-text-bottom-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    gap: 10px;
}
.section-date-stamp-second-text-bottom-image-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 66px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.section-date-stamp-second-text-bottom-image {
    height: 35px;
}
.section-date-stamp-second-text-bottom-image img {
    width: auto;
}
.section-date-stamp-second-text-bottom-detail {
    display: flex;
    text-align: center;
}
.section-date-stamp-second-text-bottom-detail p {
    font-family: "ibm-plex-sans-thai-medium";
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
}
.section-date-stamp-second-image-order-now {
    position: absolute;
    bottom: -100px;
    right: -38px;
    width: 221px;
    height: 141px;
}


.site-main.date-stamp .section-our-work {
    height: 710px;
}
.site-main.date-stamp .section-our-work-header h2:before {
    width: 124px;
}

.site-main.date-stamp  .section-our-work-header-wrapper {
    margin-bottom: 46px;
}




@media screen and (min-width: 1441px) {
    .section-hero-date-stamp {
        height: 23.333vw;
    }
    .section-hero-date-stamp-wrapper h1 {
        font-size: 4.861vw;
    }
    .section-date-stamp-second {
        height: 47.639vw;
        background-size: auto 16.736vw;
    }
    .section-dete-stamp-second-wrapper {
        gap: 2.083vw;
    }
    .section-dete-stamp-second-image {
        height: 31.667vw;
    }
    .section-dete-stamp-second-detail-box {
        width: 41.25vw;
        height: 31.667vw;
    }
    .section-dete-stamp-second-detail-header {
        margin-bottom: 3.056vw;
    }
    .section-dete-stamp-second-detail-header h2 {
        font-size: 2.5vw;
    }
    .section-dete-stamp-second-detail-header h2:before {
        bottom: -1.667vw;
        width: 12.5vw;
        height: 0.208vw;
    }
    .section-dete-stamp-second-detail-text {
        margin-bottom: 5.833vw;
    }
    .section-dete-stamp-second-detail-text p {
        font-size: 1.25vw;
    }
    .section-dete-stamp-second-detail-text p span {
        font-size: 1.25vw;
    }
    .section-date-stamp-second-text-bottom {
        width: 41.25vw;
        height: 12.917vw;
        border-radius: 10.833vw 1.111vw 1.111vw 1.111vw;
        gap: 4.167vw;
        padding: 2.778vw 0 0 9.028vw;
    }
    .section-date-stamp-second-text-bottom-box {
        width: 6.25vw;
        gap: 0.694vw;
    }
    .section-date-stamp-second-text-bottom-image-border {
        width: 4.583vw;
        height: 4.583vw;
        border: 0.139vw solid #fff;
    }
    .section-date-stamp-second-text-bottom-image {
        height: 2.431vw;
    }
    .section-date-stamp-second-text-bottom-detail p {
        font-size: 0.972vw;
    }
    .section-date-stamp-second-image-order-now {
        bottom: -6.944vw;
        right: -2.639vw;
        width: 15.347vw;
        height: 9.792vw;
    }
    
    
    .site-main.date-stamp .section-our-work {
        height: 49.306vw;
    }
    .site-main.date-stamp .section-our-work-header h2:before {
        width: 8.611vw;
    }
    
    .site-main.date-stamp  .section-our-work-header-wrapper {
        margin-bottom: 3.194vw;
    }

}

@media screen and (max-width: 1439px) {
    .section-hero-date-stamp {
        height: 23.333vw;
    }
    .section-hero-date-stamp-wrapper h1 {
        font-size: 4.861vw;
    }
    .section-date-stamp-second {
        height: 47.639vw;
        background-size: auto 16.736vw;
    }
    .section-dete-stamp-second-wrapper {
        gap: 2.083vw;
    }
    .section-dete-stamp-second-image {
        height: 31.667vw;
    }
    .section-dete-stamp-second-detail-box {
        width: 41.25vw;
        height: 31.667vw;
    }
    .section-dete-stamp-second-detail-header {
        margin-bottom: 3.056vw;
    }
    .section-dete-stamp-second-detail-header h2 {
        font-size: 2.5vw;
    }
    .section-dete-stamp-second-detail-header h2:before {
        bottom: -1.667vw;
        width: 12.5vw;
        height: 0.208vw;
    }
    .section-dete-stamp-second-detail-text {
        margin-bottom: 5.833vw;
    }
    .section-dete-stamp-second-detail-text p {
        font-size: 1.25vw;
    }
    .section-dete-stamp-second-detail-text p span {
        font-size: 1.25vw;
    }
    .section-date-stamp-second-text-bottom {
        width: 41.25vw;
        height: 12.917vw;
        border-radius: 10.833vw 1.111vw 1.111vw 1.111vw;
        gap: 4.167vw;
        padding: 2.778vw 0 0 9.028vw;
    }
    .section-date-stamp-second-text-bottom-box {
        width: 6.25vw;
        gap: 0.694vw;
    }
    .section-date-stamp-second-text-bottom-image-border {
        width: 4.583vw;
        height: 4.583vw;
        border: 0.139vw solid #fff;
    }
    .section-date-stamp-second-text-bottom-image {
        height: 2.431vw;
    }
    .section-date-stamp-second-text-bottom-detail p {
        font-size: 0.972vw;
    }
    .section-date-stamp-second-image-order-now {
        bottom: -6.944vw;
        right: -2.639vw;
        width: 15.347vw;
        height: 9.792vw;
    }
    
    
    .site-main.date-stamp .section-our-work {
        height: 49.306vw;
    }
    .site-main.date-stamp .section-our-work-header h2:before {
        width: 8.611vw;
    }
    
    .site-main.date-stamp  .section-our-work-header-wrapper {
        margin-bottom: 3.194vw;
    }

}

@media screen and (max-width: 430px) {
    .section-hero-date-stamp {
        background-image: url(../images/date-stamp/bg-hero-date-stamp-m.png);
        height: 53.333vw;
    }
    .section-hero-date-stamp-wrapper h1 {
        font-size: 8vw;
    }
    .section-date-stamp-second {
        background-image: url();
        height: 163.733vw;
        background-size: auto 16.736vw;
    }
    .section-dete-stamp-second-wrapper {
        gap: 0;
        flex-direction: column-reverse;
        padding: 0 5.333vw;
    }
    .section-dete-stamp-second-image-box {
        position: absolute;
    }
    .section-dete-stamp-second-image {
        height: 68.8vw;
    }
    .section-dete-stamp-second-detail-box {
        position: relative;
        width: 100%;
        height: auto;
    }
    .section-dete-stamp-second-detail-header {
        margin-bottom: 9.067vw;
    }
    .section-dete-stamp-second-detail-header h2 {
        font-size: 5.333vw;
    }
    .section-dete-stamp-second-detail-header h2:before {
        bottom: -2.133vw;
        width: 17.6vw;
        height: 0.533vw;
    }
    .section-dete-stamp-second-detail-text {
        margin-bottom: 84.833vw;
    }
    .section-dete-stamp-second-detail-text p {
        font-size: 3.733vw;
    }
    .section-dete-stamp-second-detail-text p span {
        font-size: 3.733vw;
    }
    .section-date-stamp-second-text-bottom {
        width: 100%;
        height: 33.6vw;
        border-radius: 5vw 26vw 5vw 5vw;
        gap: 8.533vw;
        padding: 5.867vw 0 0 4.067vw;
    }
    .section-date-stamp-second-text-bottom-box {
        width: 20.5vw;
        gap: 1.6vw;
    }
    .section-date-stamp-second-text-bottom-image-border {
        width: 12.267vw;
        height: 12.267vw;
        border: 0.533vw solid #fff;
    }
    .section-date-stamp-second-text-bottom-image {
        height: 6.3vw;
    }
    .section-date-stamp-second-text-bottom-detail p {
        font-size: 3.2vw;
    }
    .section-date-stamp-second-image-order-now {
        bottom: 43.056vw;
        right: 60.361vw;
        width: 27.2vw;
        height: 15.2vw;
    }
    
    
    .site-main.date-stamp .section-our-work {
        height: 138.667vw;
        padding-top: 13.333vw;
    }
    .site-main.date-stamp .section-our-work-header h2:before {
        width: 17.6vw;
    }
    
    .site-main.date-stamp  .section-our-work-header-wrapper {
        margin-bottom: 7.467vw;;
        padding-left: 5.333vw;
    }

    .site-main.date-stamp .section-our-work-header h2 {
        font-size: 4.267vw;
        line-height: 1.4;
    }

    .site-main.date-stamp .section-our-work-description-wrapper {
        margin-bottom: 30.667vw;
    }
    .site-main.date-stamp .section-our-work-header h2:after {
        top: -5.28vw;
        right: -18.361vw;
        width: 20.2vw;
        height: 20.2vw;
    }

    .site-main.date-stamp .section-our-work-description-text-box {
        top: 57.067vw;
        left: 0;
        width: 100%;
        flex-direction: column;
        gap: 0;
        padding: 0 5.333vw;
    }
    

}